.form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
}

@media screen and (max-width: 380px) {
  .form-page {
    margin: 0 30px;
  }
  
}
